<div class="form-group">
        <label>Знайдено: {{(service.activeUsers | filterActive:searchTerm)?.length}}</label>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Пошук" [(ngModel)]="searchTerm" />
    </div>
    <table class="table table-hover">
        <thead>
            <th (click)="sortList('name', nameSortFlag)" [hidden]="service.hideName">Ім'я</th>
            <th (click)="sortList('surName', surNameSortFlag)" [hidden]="service.hideSurName">Прізвище</th>
            <th [hidden]="service.hideAge">Вік</th>
        </thead>
        <tbody>
            <tr *ngFor="let usr of service.activeUsers | filterActive:searchTerm">
                <td (click)="userDetails(usr.id)" [style.color] = "service.textColor" [hidden]="service.hideName">{{usr.name}}</td>
                <td (click)="userDetails(usr.id)" [style.color] = "service.textColor" [hidden]="service.hideSurName">{{usr.surName}}</td>
                <td (click)="userDetails(usr.id)" [style.color] = "service.textColor" [hidden]="service.hideAge">{{usr.age}}</td>
            </tr>
        </tbody>
    </table>